/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
html {
    font-family: 'Merriweather', serif;
}
body {
    display: flex;
    flex-direction: column;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.winnerBox {
    font-family: "Roboto", ;
    white-space: pre-line; 
    /* used to allow new lines in the formatted text */
    border-radius: 5px;
    border: solid black;
    padding: 20px;
    background-color: beige;
}
.winner-container {
    
    display: flex;
    justify-content: center;

}
.container {
    display: flex;
    justify-content: center; 
    gap: 10px;
    align-items: center;
}
/* button {
    
    font-family: 'Merriweather', serif;
    background-color: aliceblue;
} */

img {
    width: 200px;
    height: 200px;
    color:none;
}

img:hover {
    background: wheat;
}
.scoreBox{
    white-space: pre-line; 
    border: solid black;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    
}

.title {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
}

.resetButton {
    display: flex;
    justify-content: center; 
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    border: solid black;
    width: fit-content;
    height: fit-content;
    margin: 20px;
    font-size: 2rem;
}

.resetButton:hover{
    background-color: aquamarine;
}