/* font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive; */
html {
      font-family: 'Merriweather', serif;
  }
body {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 8rem;
      height: 100vh;
      justify-content: center;
  }
.winnerBox {
      background-color: beige;
      border-radius: 5px;
      border: solid black;
      font-family: "Roboto", ;
      padding: 20px;
      white-space: pre-line;

    /* used to allow new lines in the formatted text */
  }
.winner-container {
            display: flex;
            justify-content: center;
        }
.container {
      align-items: center;
      display: flex;
      gap: 10px;
      justify-content: center;
  }
/* button {
            background-color: aliceblue;
            font-family: 'Merriweather', serif;
        } */
img {
      color:none;
      height: 200px;
      width: 200px;
  }
img:hover {
      background: wheat;
  }
.scoreBox{
      border: solid black;
      height: fit-content;
      padding: 10px;
      white-space: pre-line;
      width: fit-content;
  }
.title {
      font-family: 'Sacramento', cursive;
      font-size: 2rem;
  }
.resetButton {
      align-items: center;
      border-radius: 5px;
      border: solid black;
      display: flex;
      font-size: 2rem;
      gap: 10px;
      height: fit-content;
      justify-content: center;
      margin: 20px;
      width: fit-content;
  }
.resetButton:hover{
      background-color: aquamarine;
  }